.register {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 16px;

    grid-row-gap: 12px;

    & > div {
        grid-column: 1/2;
        display: grid;
    }
}
.instructions {
    opacity: 1;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    display: inline-block;
    font-size: 16px;
    padding: 0.25rem;
    opacity: 0;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
